<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/functional/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Yii2 DateTimePicker Test Suite">
            <directory>./tests/functional/widget</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./coverage"/>
    </logging>
</phpunit>
